body {
  background-color: #4e2161 !important;
  color: #fff !important;
  font-family: 'Righteous', cursive !important;
}

h1 {
  padding: 3% 0;
  font-size: 3rem !important;
  text-align: center;
}

img {
  width: 30%;
  height: 30%;
  margin-bottom: 3%;
  border-radius: 50%;
}

input {
  width: 40%;
  font-size: 1.5rem !important;
  text-align: center;
  border-radius: .3rem;
}

button {
  width: 40%;
  font-size: 2rem !important;
  margin-top: 2% !important;
}

footer {
  margin-top: 2%;
  text-align: center;
  color: #fff !important;
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 2.5rem;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: 3.5rem;
  }
}

@include media-breakpoint-up(sm) {
  button {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(md) {
  button {
    font-size: 2rem;
  }
}

@include media-breakpoint-up(lg) {
  button {
    font-size: 2.5rem;
  }
}
